<%= form_tag '/products/import_products', multipart: true do %>
  <label for="file">Import Products</label> <%= file_field_tag "file" %><br>
  <%= submit_tag 'Import Products', class: 'btn btn-primary' %>
<% end %>

<br><br>
<div class="col-12">
  <%= link_to("Add Product", new_product_path , class: 'pull-right btn btn-primary') %> 
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product&.name, product_path(product.id) %></td>
        <td><%= product&.price&.to_f %></td>
        <td><%= product&.description %></td>
        <td><%= link_to("Edit", edit_product_path(product)) %></td>
        <td><%= link_to 'Delete', product_path(product.id), method: :delete, data: {confirm: "Are you sure want to delete?"}  %></td>
      </tr>
    <% end %>
  </tbody>
</table>